@use './reset';
@use './variables/global';
@use './themes/dark';
@use './themes/normal';
@use './themes/orange';

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    min-height: 100vh;
    background: var(--bg-color);
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
    height: calc(100vh - var(--navbar-height));
    padding: 20px 20px 20px 45px;
    overflow-y: auto;

}
