.app.light {
  --bg-color: rgb(226, 226, 226);
  --inverted-bg-color: rgb(15, 18, 172);
  --primary-color: #0c00b0;
  --secondary-color: #8778f8;

  --inverted-primary-color: #049604;
  --inverted-secondary-color: #05ff05;
}
